<!-- customer/templates/customer/create_customer.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Create Customer</title>
</head>
<body>
    <h1>Create Customer</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br> -->
        <label for="avatar">Avatar:</label>
        <input type="file" id="avatar" name="avatar"><br>
        <button type="submit">Create</button>
    </form>
</body>
</html>